{
	"extends": [
		"eslint:recommended"
	],
	"env": {
		"browser": true,
		"node": true,
		"es6": true
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaVersion": 2020
	},
	"rules": {
		"no-console": "warn",
		"max-len": ["warn", 180, 4]
	}
}
